/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    html{
        overflow-x: hidden;
    }
    body{
        overflow: hidden;
        background-color:#2D112B;
        background-size:cover;
        background-attachment: fixed;
    }
    iframe{
        max-width: 100%;
    }
    
    a{
        color: white;
        transition:0.2s;
    }
    a:hover, a:active, a:visited, a:focus{
        text-decoration: none;
        opacity: 0.9;
    }
    a:focus{
        color: inherit;
    }
    nav{
        background:none ;
        border:none ;
        border-radius: none ;
        box-shadow: none ;
    }
    header{
        position: fixed;
        top:0; left: 0;
        z-index: 9999;
        width: 100%;
        pointer-events:none;

        background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    }
    header .container-fluid{
        pointer-events:none;
    }
    .navbar-header{
        float: none;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        margin-left: 0;
        pointer-events:auto;
    }
        .navbar-left{
            margin-left: -5px;
            pointer-events:auto;
        }

            .navbar-nav > li > a{
                padding:15px 15px 5px;
                transition:0.2s;
            }

                .navbar-nav > li > a:after{
                    content:"";
                    display: block;
                    position: absolute;
                    bottom: 0px; left: 0px;
                    width: 100%;
                    border-bottom: 3px double transparent;
                    transition:0.2s;
                }
                    .navbar-nav > li > a:hover:after, .navbar-nav > li > a:focus:after{
                        border-bottom-color: #fff;
                        left: 15px;
                        width: 50%;
                    }
                .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
                    color:#fff !important;
                    opacity: 0.8;
                }

        header a{
            color: white;
            transition:0.5s;
        }
            header a.logo{
                background: url('../img/tts-logo.png') no-repeat;
                background-size: contain;
                text-indent: -9999999px;
                width: 400px;
                height: 50px;
            }
        header .container-fluid{
            transition:0.5s;
            padding: 20px 30px;
        }
        
        header .hamburger{
            display: none;
            position: fixed;
            top:0; right:0;
            z-index: 99999;
        }
        .hamburger{
            position: relative;
            width: 25px;
            height: 25px;
            padding: 12px;
            cursor: pointer;
            box-sizing:content-box;
        }   

            .hamburger:before, .hamburger:after {
                content: "Menu";
                text-transform: uppercase;
                position: absolute;
                top:0;
                left:-100%; margin-top:15px;
                color:#fff;
                height: 20px;
                transition:0.2s;
            }
            .hamburger:after{
                content: "Close";
                -moz-transform: translate3d(0, 10px, 0);
                -ms-transform: translate3d(0, 10px, 0);
                -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
                opacity: 0;
            }
                .active .hamburger:after{
                    -moz-transform: translate3d(0, 0px, 0);
                    -ms-transform: translate3d(0, 0px, 0);
                    -webkit-transform: translate3d(0, 0px, 0);
                    transform: translate3d(0, 0px, 0);
                    opacity: 1;
                }
                .active .hamburger:before{
                    -moz-transform: translate3d(0, -20px, 0);
                    -ms-transform: translate3d(0, -20px, 0);
                    -webkit-transform: translate3d(0, -20px, 0);
                    transform: translate3d(0, -20px, 0);
                    opacity: 0;
                }
            .hamburger > span{
                position: relative;
                display: block;
                width: 25px;
                height: 5px;
                background:#fff;
                margin-top:3px;
                transition:0.2s;
            }
            .active .hamburger > span:nth-child(2){
                opacity: 0;
            }
            .active .hamburger > span:first-child{
                margin:5px 0 0; width: 30px;
                -moz-transform: rotate(45deg) translate3d(0px, 9px, 0)
                -ms-transform: rotate(45deg) translate3d(0px, 9px, 0)
                -webkit-transform: rotate(45deg) translate3d(0px, 9px, 0)
                transform: rotate(45deg) translate3d(0px, 9px, 0)
            }
            .active .hamburger > span:last-child{
                margin:0; width: 30px;
                -moz-transform: rotate(-45deg) translate3d(0px, -9px, 0)
                -ms-transform: rotate(-45deg) translate3d(0px, -9px, 0)
                -webkit-transform: rotate(-45deg) translate3d(0px, -9px, 0)
                transform: rotate(-45deg) translate3d(0px, -9px, 0)
            }

    #main{
        position: relative;
    }
    .page{ 
        position: absolute;
        top:0; left:0;
        overflow: hidden;
        height: 100%;
        padding-top:200px;
        text-align:center; 
        width:100%; 
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
    }   
        .page .container{
            position: absolute;
            top: 0; left: 0;
            height: 100%; width: 100%;
            overflow: auto;
            padding: 150px 150px 0;
            transition:0.5s;
        }
        .content-container{
            max-width: 900px;
            margin: 0 auto;
        }

    .page h1    { font-size:60px; }
    .page a     { margin-top:5px; }
    .page p     { padding:20px; }
   

    .bottomBar{
    }
        .bottomBar:hover{
            
        }

    /* PAGES
    ============================================================================= */
    .page-home{     background-image:url('../img/tts-band.jpg');}
    .page-band{     background-image:url('../img/tts-bg5.jpg'); background-position: bottom center;}
    .page-tour{     background-image:url('../img/tts-bg.jpg');}
    .page-media{    background-image:url('../img/tts-bg4.jpg');}
    .page-contact{  background-image:url('../img/tts-bg2.jpg');}

    .page-home     .container { background-color:rgba(0,0,0,0); color:#fff; }
    .page-band     .container { background-color:rgba(0,0,0,0.8); color:#fff; }
    .page-tour     .container { background-color:rgba(0,0,0,0.5); color:#fff;}
    .page-media    .container { background-color:rgba(0,0,0,0.6); color:#fff;}
    .page-contact  .container { background-color:rgba(0,0,0,0.8); color:#fff; }

    .portraits{
        margin-bottom: 20px;
    }
    .portraits .portrait{
        padding: 2px;
        cursor:pointer;
    }   
    .portraits h2{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-transform: uppercase;
        font-size: 1.6em;
        opacity: 0;
        transition:0.2s;
        transform: translate3d(0,20px,0);;
        background:rgba(0,0,0,0.8);
        padding: 20px 0;
        text-decoration: center;
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
    }
        .portraits .img-container:hover h2, .portraits .portrait.active .img-container h2{
            opacity: 1;
            transform: translate3d(0,0,0);;
        }
        .portraits img{
            width: 100%;
            transition:0.5s;
        }
            .portraits .img-container{
                overflow:hidden;
            }  
            .portraits .img-container > img{
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            .portraits .img-container:hover > img, .portraits .portrait.active .img-container > img{
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
                -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
                -moz-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                filter: grayscale(0%);
            }

            .member-info{
                display: none;
                padding: 20px 20px 200px 20px;
            }

    /* PAGE ANIMATIONS
    ============================================================================= */
    
    .page.ng-leave  {  
        -moz-transition: 0.5s ease-in-out all; 
        -ms-transition: 0.5s ease-in-out all; 
        -webkit-transition: 0.5s ease-in-out all; 
        transition: 0.5s ease-in-out all; 
        z-index: 888;
        opacity: 1; 
        -moz-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }
    .page.ng-enter  {  
        -webkit-transition: 0.8s 0.5s ease-in-out all;
        -moz-transition: 0.8s 0.5s ease-in-out all;
        -ms-transition: 0.8s 0.5s ease-in-out all;
        transition: 0.8s 0.5s ease-in-out all;
        z-index: 999;
        opacity: 0;
        -moz-transform:  scale(1.03) translateY(-10px);
        -ms-transform:  scale(1.03) translateY(-10px);
        -webkit-transform:  scale(1.03) translateY(-10px);
        transform:  scale(1.03) translateY(-10px);
    }
    .page.ng-enter.ng-enter-active {
     /* The animation code itself */
     opacity: 1;
        -ms-transform: scale(1) translateY(0px);
        -moz-transform: scale(1) translateY(0px);
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
    }
    .page.ng-leave.ng-leave-active {
     /* The animation code itself */
     opacity: 0;
     -ms-transform:  scale(1.03) translateY(10px);
     -moz-transform:  scale(1.03) translateY(10px);
     -webkit-transform:  scale(1.03) translateY(10px);
     transform:  scale(1.03) translateY(10px);
    }

    .page.ng-leave .container{
        -ms-transition: 0.5s ease-in-out all; 
        -moz-transition: 0.5s ease-in-out all; 
        -webkit-transition: 0.5s ease-in-out all; 
        transition: 0.5s ease-in-out all; 
        z-index: 888;
        opacity: 1;
        -moz-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }
    .page.ng-enter .container{
        -moz-transition: 0.8s 1.2s ease-in-out all;
        -ms-transition: 0.8s 1.2s ease-in-out all;
        -webkit-transition: 0.8s 1.2s ease-in-out all;
        transition: 0.8s 1.2s ease-in-out all;
        z-index: 999;
        opacity: 0;
        -moz-transform:  scale(1.03) translateY(-10px);
        -ms-transform:  scale(1.03) translateY(-10px);
        -webkit-transform:  scale(1.03) translateY(-10px);
        transform:  scale(1.03) translateY(-10px);
    }
    .page.ng-enter.ng-enter-active .container{
        opacity: 1;
        -ms-transform: scale(1) translateY(0px);
        -moz-transform: scale(1) translateY(0px);
        -webkit-transform: scale(1) translateY(0px);
        transform: scale(1) translateY(0px);
    }
    .page.ng-leave.ng-leave-active .container{
        opacity: 0;
        -moz-transform:  scale(1.03) translateY(10px);
        -ms-transform:  scale(1.03) translateY(10px);
        -webkit-transform:  scale(1.03) translateY(10px);
        transform:  scale(1.03) translateY(10px);
    }

    /* PARALLAX
    ============================================================================= */


    /* ELEMENTS
    ============================================================================= */

    .container{
        background-color: transparent;
    }

    .fixedBar{   
        color:#fff;
        position: fixed;
        bottom: 0; margin:0 auto;
        z-index: 99999;
        width: 100%;
        background:red;
        background:rgb(48,48,48);
        box-shadow: inset 0 0 0 1px rgb(87, 87, 87);
    }   
        .fixedBar .music{
            float: left;
            transition:0.2s;
        }

        .fixedBar .hoverAction{
            float: right;
            display: inline-block;
            font-size: 1em;
            line-height: 2em;
            border: 1px solid rgb(87, 87, 87);
            padding:5px 25px;
            height: 42px;
            min-width: 42px;
            cursor: pointer;
            background:rgba(0,0,0,0.2);
            -moz-transition:0.2s;
            -ms-transition:0.2s;
            -webkit-transition:0.2s;
            transition:0.2s;
            -moz-animation: pulse 2s 2 ease-in-out;
            -ms-animation: pulse 2s 2 ease-in-out;
            -webkit-animation: pulse 2s 2 ease-in-out;
            animation: pulse 2s 2 ease-in-out;
        }
            .fixedBar:hover .hoverAction{
                -moz-animation: none;
                -ms-animation: none;
                -webkit-animation: none;
                animation: none;
                background:none;
            }

        .fixedBar .social{
            float: right;
        }
            .social > a{
                display: inline-block;
                font-size: 1.5em;
                line-height: 1.8em;
                border: 1px solid rgb(87, 87, 87);
                border-right: none;
                padding:0 5px;
                height: 42px;
                min-width: 42px;
                text-align: center;
                -moz-transition:0.2s;
                -ms-transition:0.2s;
                -webkit-transition:0.2s;
                transition:0.2s;
            }
                .bottomBar .social > a:hover{
                    background-color:#fff;
                    color:#fff;
                }
                .social a.bandcamp { 
                    background-image:url(../img/bc-logo.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: center;
                }
                .social > a.bandcamp span:before{
                    content:" f";
                    color:transparent;
                    pointer-events:none;
                }
                .social > a.bandcamp:hover{ background-color:rgb(97, 155, 169)}
                .social > a.facebook:hover{ background:#3b5998;}
                .social > a.twitter:hover{ background:#00aced;}
                .social > a.youtube:hover{ background:#bb0000;}

                .social > a:active{
                    background:#222 !important;
                }

    .hoverBar{
        position: fixed;
        top: 100%; left: 0;
        width: 100%;
        height: 100%;
        padding-bottom: 42px;
        background:rgba(48,48,48,0.98);
        z-index: 88888;
        cursor:pointer;
        -moz-transform: translate3d(0, -42px, 0);
        -ms-transform: translate3d(0, -42px, 0);
        -webkit-transform: translate3d(0, -42px, 0);
        transform: translate3d(0, -42px, 0);
        -moz-transition:0.5s;
        -ms-transition:0.5s;
        -webkittransition:0.5s;
        transition:0.5s;
    }

        .hoverBar.active{
            cursor: auto;
            -moz-transform: translate3d(0, -100%, 0);
            -ms-transform: translate3d(0, -100%, 0);
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

       .hoverBar .closeEvents{
            display: block;
            width: 100%;
            padding: 10px 20px;
            background-color:rgba(0,0,0,0.5);
            color: #fff;
            text-align: center;
            cursor: pointer;
        }
        
        .hoverBar h1{
            color: #fff;
            text-align: center;
        }
    


    /* ANIMATIONS
    ============================================================================= */

    @-moz-keyframes pulse{
        0%  { opacity: 1;    }
        50% { opacity: 0.5;  }
        100%{ opacity: 1;    }
    }
    @-ms-keyframes pulse{
        0%  { opacity: 1;    }
        50% { opacity: 0.5;  }
        100%{ opacity: 1;    }
    }
    @-webkit-keyframes pulse{
        0%  { opacity: 1;    }
        50% { opacity: 0.5;  }
        100%{ opacity: 1;    }
    }
    @keyframes pulse{
        0%  { opacity: 1;    }
        50% { opacity: 0.5;  }
        100%{ opacity: 1;    }
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
   @media only screen and (max-width: 768px) {
        header{
            height: 50px;
            text-align: center;
            transition: height 0s 0.8s, background 0.5s 0.3s;
            pointer-events:auto;
        }
            header.active{
                height: 100%;
                background:rgba(0,0,0,0.9);
                transition:background 0.5s 0s;
            }
            .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
                margin-left: 25px;
            }
            header a.logo{
                width: 150px;
                margin-top:14px;
                height: 20px;
                left: 5px;
            }
            header .container-fluid{
                padding: 0;
                overflow: hidden;
            }
            .navbar-nav > li > a:hover:after, .navbar-nav > li > a:focus:after{
                display: none;
            }
        .navbar{
            transition:0s;
            max-height: 100%;
            overflow: auto;
            margin:0;
        }
            .navbar .navbar-header{
                position: fixed;
                top:0;
                width: 100%;
                transition:0s;
                z-index: 9;
            }
                header.active .navbar-header{
                    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
                }
        header.active .navbar{
        }
            header .nav{
                overflow: hidden;
                height: 0;
                opacity: 0;
                -moz-transition: 0s 0.8s;
                -ms-transition: 0s 0.8s;
                -webkit-transition: 0s 0.8s;
                transition: 0s 0.8s;
            }
                header.active .nav{
                    opacity: 1;
                    height: 100%;
                    padding-bottom: 80px;
                    padding-top: 80px;
                    -moz-transition: 0s 0s;
                    -ms-transition: 0s 0s;
                    -webkit-transition: 0s 0s;
                    transition: 0s 0s;
                }

            .navbar-nav > li{
                opacity: 0;
                -moz-transition:0.5s 0.2s;
                -ms-transition:0.5s 0.2s;
                -webkit-transition:0.5s 0.2s;
                transition:0.5s 0.2s;
            }
            .navbar-nav > li:nth-child(odd){    
                -moz-transform: translate3d(-20px, 0, 0); 
                -ms-transform: translate3d(-20px, 0, 0); 
                -webkit-transform: translate3d(-20px, 0, 0); 
                transform: translate3d(-20px, 0, 0);     
            }
            .navbar-nav > li:nth-child(even){   
                -moz-transform: translate3d(20px, 0, 0);    
                -ms-transform: translate3d(20px, 0, 0);    
                -webkit-transform: translate3d(20px, 0, 0);    
                transform: translate3d(20px, 0, 0);     
            }
            header.active .navbar-nav > li{     
                -moz-transform: translate3d(0, 0, 0); opacity: 1; 
                -ms-transform: translate3d(0, 0, 0); opacity: 1; 
                -webkit-transform: translate3d(0, 0, 0); opacity: 1; 
                transform: translate3d(0, 0, 0); opacity: 1;    
            }
            .navbar-nav > li > a{
                line-height: 1em;
                font-size: 4em;
            }

        header .hamburger{
            display: block;
        }
    
        .page .container{
            padding: 50px 20px 80px;
        }

        .jumbotron h1, .jumbotron .h1{
            font-size: 30px;   
        }
        
        iframe.music{
            width: 83px !important;
        }
        .fixedBar .hoverAction{
            text-transform: capitalize;
        }
            .fixedBar .hoverAction > span{
                display: none;

            }
        .fixedBar .hoverAction{
            padding: 5px 10px;
        }

        .member-info{
            padding: 0;
        }
            .member-info p{
                padding: 10px;
                
            }
        .portraits h2{
            font-size: 1em;
        }
    
    }
    @media only screen and (max-width: 768px) and (orientation: landscape){

    }

    @media only screen and (max-width: 300px) {
        .music{
            display: none;
        }
    }



@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
